<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🚫 Banned!</title>
    <meta property="og:title" content="🚫 Banned!" />
    <link rel="icon" href="/assets/logo.png">
    <meta property="og:image" content="/assets/logo.png">
    <meta name="theme-color" content="<%= sitesettings.sitecolor %>">
    <meta name="description" content="This can happen for a multitude of reasons. The <em>most common</em> being that you may be banned in Hyperz Ban Database." />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="This can happen for a multitude of reasons. The <em>most common</em> being that you may be banned in Hyperz Ban Database." />
    <style>
        body {
            background-color: #1a1a1a;
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
        p {
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div style="margin-top: 2em; text-align: center;">
        <h1>🚫 You Were Banned!</h1>
        <p>This can happen for a multitude of reasons. The <em>most common</em> being that you may be banned in <a href="https://bans.hyperz.net">Hyperz Ban Database</a>.</p>
    </div>
</body>
</html>