<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Maintenance - <%= sitesettings.sitename %></title>
        <meta property="og:title" content="Maintenance - <%= sitesettings.sitename %>" />
        <link rel="icon" href="/assets/logo.png">
        <meta property="og:image" content="/assets/logo.png">
        <meta name="theme-color" content="<%= sitesettings.sitecolor %>">
        <meta name="description" content="<%= sitesettings.sitedesc %>" />
        <link rel="stylesheet" href="/assets/main.css">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo:ital@1&family=Montserrat:wght@500&family=Source+Code+Pro:wght@200;300&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"><script>console.log('EJS template made by Hyperz#0001');</script>

        <!-- Custom Styling & Scripts -->
        <link rel="stylesheet" href="/assets/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

        <style>
            body {
                overflow-y: hidden;
            }
        </style>
    </head>
    <body>
        <div class="container p-4" style="margin-top: 10em;">
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-3 text-center">
                    <h1 style="font-size: 10em;"><i class="fa-regular fa-face-dizzy"></i></h1>
                </div>
                <div class="col-lg-6 mb-3 footercolumnscentermobile text-start">
                    <h1>Maintenance Mode</h1>
                    <p>This webstore is currently in maintenance mode, check back later!</p>
                    <br>
                    <a href="/admin/settings" class="btn btn-lg btn-secondary mb-3"><i class="fa-solid fa-shield-halved"></i> Admin Panel</a>
                    <a href="/discord" class="btn btn-lg btn-secondary mb-3 bg-discord bd-discord" target="_blank"><i class="fa-brands fa-discord"></i> Join Discord</a>
                </div>
            </div>
        </div>
    </body>
</html>
